# The 4th day's homework

In [ ]:
n = 58
studentslist = []
midtermmarkslist =[]
projectmarkslist = []
finalmarkslist = []
for num in range (0, 5):
    x = str (input ("Please enter your name and surname: "))
    y = float (input ("Please enter your midterm grade:"))
    z = float (input ("Please enter your project grade: "))
    m = float (input ("Please enter your final geade: "))
students. append (x)
midtermmarks. append (y)
projectmarks. append (z)  
finalmarks.append (m)

Please enter your name and surname: Betul Ozel
Please enter your midterm grade:78
Please enter your project grade: 95
Please enter your final geade: 91
Please enter your name and surname: Gul Pamukcu
Please enter your midterm grade:67
Please enter your project grade: 89
Please enter your final geade: 75
Please enter your name and surname: Ahmet Tiryaki
Please enter your midterm grade:45.5
Please enter your project grade: 75
Please enter your final geade: 68.5
Please enter your name and surname: Ozlem Guzel
Please enter your midterm grade:77
Please enter your project grade: 7.5
Please enter your final geade: 79
Please enter your name and surname: Taner Ersoz
Please enter your midterm grade:39
Please enter your project grade: 57

In [ ]:
list1 = ["Betul Ozel","Gul Pamukcu","Ahmet Tiryaki","Ozlem Guzel", "Taner Ersoz"]
list2 = [78, 67, 45.5, 77, 39]
list3 = [95, 89, 75, 87.5, 57]
list4 = [91, 75, 68.5, 79, 52]
list (zip (list1, list2, list3, list4))
for a, b, c in zip (list2, list3, list4):
   a = a* 0.3
   b =b* 0.3
   c = c* 0.4 
   print (a+b+c)

88.3
76.8
63.55
80.94999999999999
49.599999999999994

In [1]:
d1 = {"students": ["Betul Ozel", "Gul Pamukcu", "Ahmet Tiryaki", "Ozlem Guzel", "Taner Ersoz"], "midtermarks": [78, 67, 45.5, 77, 39], "projectmarks": [95, 89, 75, 87.5, 57], "finalmarks": [91, 75, 68.5, 79, 52], "passinggrade": [88.3, 76.8, 63.5, 80.9, 49.5]}
for k, v in d1.items():
    print ("Key:", k, "Value:", v)

Key: students Value: ['Betul Ozel', 'Gul Pamukcu', 'Ahmet Tiryaki', 'Ozlem Guzel', 'Taner Ersoz']
Key: midtermarks Value: [78, 67, 45.5, 77, 39]
Key: projectmarks Value: [95, 89, 75, 87.5, 57]
Key: finalmarks Value: [91, 75, 68.5, 79, 52]
Key: passinggrade Value: [88.3, 76, 8, 63.5, 80.9, 49.5]

In [2]:
d1.items()

dict_items([('students', ['Betul Ozel', 'Gul Pamukcu', 'Ahmet Tiryaki', 'Ozlem Guzel', 'Taner Ersoz']), ('midtermarks', [78, 67, 45.5, 77, 39]), ('projectmarks', [95, 89, 75, 87.5, 57]), ('finalmarks', [91, 75, 68.5, 79, 52]), ('passinggrade', [88.3, 76, 8, 63.5, 80.9, 49.5])])

In [4]:
list5= [88.3, 76.8, 63.5, 80.9, 49.5]
list5.sort()
list5

[49.5, 63.5, 76.8, 80.9, 88.3]

In [ ]:
list5= [49.5, 63.5, 76.8, 80.9, 88.3]
max1 = list5 [4]
min1 = list5 [0]
print ("list5[4]:", min1,"    " ,"list5[0]:", max1)

list5[4]: 49.5      list5[0]: 88.3